/**
 * @file 列表页主题
 * @author: yuanchengyong@baidu.com
 * @date: 16/7/28
 */
/*背景
background-color: #106f8e;
 */

.frame-all {
    background-color: #106f8e;
    background-image: url(./main_bg.png);
    background-position: center 0;
    background-repeat: no-repeat;
            background-size: cover;
    -webkit-background-size: cover;
         -o-background-size: cover;
}
.frame-all .skin-main {
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./main_bg.png', sizingMethod='scale');
}
/*免费领取*/
.module-aside.DtJtsC .JGDHAe {
    background-color: #fff;
    color: #3b8cff;
        filter: alpha(opacity=80);
    -moz-opacity: .8;
         opacity: .8;
    /*border: 1px solid #3b8cff;*/
}
.module-aside.DtJtsC .EsbcNG {
    background: #fff;
    border: 1px solid #f8e4e3;
}
.module-aside.DtJtsC .EsbcNG .HEIExKb {
    color: #f54240;
    font-size: 14px;
}
.module-aside.DtJtsC .EsbcNG .yQzHsOb {
    display: block;
    background: #f54240;
    color: #fff;
    border: 1px solid #f54240;
    border-radius: 10px;
    text-align: center;
}
/*左下角logo*/
.module-aside.DtJtsC .feNMdtb .KzGbKPb a {
    color: #fff;
}
.module-aside.DtJtsC .feNMdtb .FfOIzbb .bsBdCxb a {
    color: #666;
}
.module-aside.DtJtsC .feNMdtb .KzGbKPb a:hover,
.module-aside.DtJtsC .feNMdtb .FfOIzbb .bsBdCxb a:hover {
    filter: alpha(opacity=70);
    -moz-opacity: .7;
         opacity: .7;
}
/*扩容按钮*/
.module-aside.DtJtsC .QGOvsxb .GELdyA a {
    border-radius: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
}
.module-aside.DtJtsC .QGOvsxb .GELdyA a:hover {
    border-radius: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
}
/*头部下拉列表链接颜色*/
.module-header-wrapper .xtJbHcb .QgxQAN a {
    color: #424e67;
}
/*左侧选中太*/
.module-aside .fOHAbxb a:hover,
.FvBGOQ a:hover,
.JKEQDvb a:hover {
    background: rgba(255, 255, 255, 0.15);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22FFFFFF,endColorstr=#22FFFFFF);
}

.module-aside .fOHAbxb .bHzsaPb a {
    background: rgba(255, 255, 255, 0.15);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22FFFFFF,endColorstr=#22FFFFFF);
}
.module-header-wrapper .xtJbHcb .gOIbzPb .BHgeMdb {
    color: #ffd821;
    font-style: normal;
}
/*底部版权*/
.discovery-main-box .dis-footer,
.discovery-main-box .dis-footer a {
    color: #fff;
}
.discovery-main-box .dis-footer a:hover {
    color: #fff;
    text-decoration: none;
    opacity: .8;
    filter: alpha(opacity=80);
}
.cardHolder-toolbar .g-button:hover .icon {
    color: #106f8e;
}
.bar .g-button:hover .icon {
    color: #106f8e;
}
.cardHolder-toolbar .g-button-blue:hover {
    background-color: #106f8e;
    border: 1px solid #106f8e;
}